@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.tab {
    padding-left: 40%;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    border-radius: 10px;
    outline: none;
    margin-top: .3%;
    margin-left: .5%;
    margin-bottom: .3%;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    color: black;
    background-color: white;
  }
  .tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }